.vscode/
.DS_Store
node_modules/
npm-debug.log
.idea
dist/


KBY_TEST

myeosgroupon

group buy


公开测试版本说明：
测试版本 Token 即为主网真实 Token。
发售 Token 总量不超过 10 eos，
每个账户限额 0.01 个 eos。

团购合约每次交易周期为 1 个小时。
09/26/2018 @ 12:00am (UTC) 之后开放交易。

出售手续费为 10%，手续费线性衰减，1 天后交易手续费为 0 %。
转账手续费为 50%，手续费线性衰减，1 天后交易手续费为 0 %。















